# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/

# System files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/



# Streamlit secrets file (contains sensitive info)
.streamlit/secrets.toml
